# Neural Graph Collaborative Filtering

In [1]:
import os
import pickle
import numpy as np
import pandas as pd
import scipy.sparse as sp

In [2]:
os.listdir('./data/ml-latest-small')

['links.csv', 'movies.csv', 'ratings.csv', 'README.txt', 'tags.csv']

In [3]:
d1 = pd.read_csv('./data/ml-latest-small/movies.csv')
d2 = pd.read_csv('./data/ml-latest-small/ratings.csv')

display(d1.head(3))
display(d2.head(3))

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [4]:
print(d1.shape, d2.shape)

(9742, 3) (100836, 4)

In [5]:
data = pd.read_csv('./data/ml-latest-small/ratings.csv', names=['user','item', 'ratings','timestamps'],
                  dtype= {'user': int, 'item':int, 'ratings' : float, 'timestamps':float},
                  engine='python', header=0)

data

        user    item  ratings    timestamps
0          1       1      4.0  9.649827e+08
1          1       3      4.0  9.649812e+08
2          1       6      4.0  9.649822e+08
3          1      47      5.0  9.649838e+08
4          1      50      5.0  9.649829e+08
...      ...     ...      ...           ...
100831   610  166534      4.0  1.493848e+09
100832   610  168248      5.0  1.493850e+09
100833   610  168250      5.0  1.494273e+09
100834   610  168252      5.0  1.493846e+09
100835   610  170875      3.0  1.493846e+09

[100836 rows x 4 columns]

In [6]:
num_users, num_items = len(pd.unique(data.user)), len(pd.unique(data.item))
print(num_users, num_items)

610 9724

In [7]:
data['org_ratings'] = data['ratings']
data['ratings'] = 1.0

In [8]:
num_items_by_user = data.groupby('user', as_index=False).size()
num_items_by_user = num_items_by_user.set_index('user')
num_items_by_user

      size
user
1      232
2       29
3       39
4      216
5       44
...    ...
606   1115
607    187
608    831
609     37
610   1302

[610 rows x 1 columns]

In [9]:
num_users_by_item = data.groupby('item', as_index=False).size()
num_users_by_item = num_users_by_item.set_index('item')
num_users_by_item

        size
item
1        215
2        110
3         52
4          7
5         49
...      ...
193581     1
193583     1
193585     1
193587     1
193609     1

[9724 rows x 1 columns]

In [10]:
user_frame = num_items_by_user
user_frame.columns = ['item_cnt']
user_frame

      item_cnt
user
1          232
2           29
3           39
4          216
5           44
...        ...
606       1115
607        187
608        831
609         37
610       1302

[610 rows x 1 columns]

In [11]:
order_by_popularity = True

In [12]:
if order_by_popularity:
    user_frame = user_frame.sort_values(by='item_cnt', ascending=False)
    
user_frame['new_id'] = list(range(num_users))
user_frame

      item_cnt  new_id
user
414       2698       0
599       2478       1
474       2108       2
448       1864       3
274       1346       4
...        ...     ...
442         20     605
569         20     606
320         20     607
576         20     608
53          20     609

[610 rows x 2 columns]

In [13]:
frame_dict = user_frame.to_dict()
frame_dict

{'item_cnt': {414: 2698,
  599: 2478,
  474: 2108,
  448: 1864,
  274: 1346,
  610: 1302,
  68: 1260,
  380: 1218,
  606: 1115,
  288: 1055,
  249: 1046,
  387: 1027,
  182: 977,
  307: 975,
  603: 943,
  298: 939,
  177: 904,
  318: 879,
  232: 862,
  480: 836,
  608: 831,
  600: 763,
  483: 728,
  590: 728,
  105: 722,
  19: 703,
  305: 677,
  489: 648,
  111: 646,
  438: 635,
  217: 613,
  140: 608,
  477: 600,
  555: 578,
  91: 575,
  28: 570,
  219: 528,
  534: 520,
  89: 518,
  64: 517,
  226: 507,
  561: 505,
  18: 502,
  525: 500,
  57: 476,
  381: 474,
  368: 469,
  509: 467,
  469: 465,
  560: 458,
  462: 455,
  292: 446,
  21: 443,
  597: 443,
  42: 440,
  294: 437,
  160: 437,
  580: 436,
  596: 411,
  202: 403,
  275: 403,
  517: 400,
  45: 399,
  156: 398,
  514: 397,
  391: 386,
  567: 385,
  357: 383,
  103: 377,
  339: 371,
  62: 366,
  199: 363,
  125: 360,
  51: 359,
  132: 347,
  66: 345,
  313: 340,
  200: 334,
  221: 331,
  6: 314,
  453: 311,
  50: 310,
  425: 306,
  428: 300,
  573: 299,
  352: 294,
  84: 293,
  122: 292,
  382: 291,
  356: 289,
  239: 279,
  135: 279,
  365: 277,
  484: 275,
  104: 273,
  63: 271,
  325: 270,
  169: 269,
  332: 267,
  290: 267,
  495: 265,
  432: 260,
  187: 258,
  328: 255,
  222: 250,
  212: 248,
  330: 247,
  20: 242,
  282: 237,
  372: 236,
  434: 233,
  594: 232,
  1: 232,
  562: 231,
  198: 230,
  82: 227,
  186: 226,
  354: 226,
  312: 223,
  605: 221,
  41: 217,
  4: 216,
  304: 216,
  119: 215,
  563: 213,
  263: 210,
  73: 210,
  586: 208,
  220: 207,
  246: 204,
  234: 202,
  452: 202,
  385: 201,
  522: 200,
  280: 196,
  139: 194,
  570: 191,
  166: 190,
  317: 189,
  552: 188,
  607: 187,
  195: 187,
  520: 186,
  367: 185,
  479: 181,
  266: 180,
  153: 179,
  74: 177,
  279: 176,
  256: 174,
  167: 173,
  331: 168,
  95: 168,
  141: 168,
  527: 167,
  410: 167,
  80: 167,
  587: 165,
  117: 165,
  346: 164,
  216: 164,
  265: 163,
  577: 161,
  564: 157,
  33: 156,
  419: 155,
  475: 155,
  572: 155,
  334: 154,
  260: 152,
  287: 152,
  7: 152,
  326: 152,
  233: 150,
  113: 150,
  247: 150,
  100: 148,
  420: 141,
  351: 141,
  408: 141,
  137: 141,
  47: 140,
  129: 140,
  559: 140,
  10: 140,
  230: 139,
  210: 138,
  464: 138,
  424: 138,
  602: 135,
  15: 135,
  27: 135,
  184: 134,
  376: 133,
  377: 131,
  524: 131,
  52: 130,
  268: 129,
  369: 129,
  314: 128,
  144: 128,
  482: 128,
  240: 128,
  109: 127,
  254: 127,
  411: 127,
  409: 126,
  551: 123,
  393: 123,
  437: 122,
  23: 121,
  492: 121,
  405: 120,
  76: 119,
  22: 119,
  83: 118,
  181: 118,
  465: 115,
  308: 115,
  301: 114,
  43: 114,
  466: 113,
  490: 113,
  542: 113,
  58: 112,
  115: 112,
  306: 112,
  571: 112,
  488: 111,
  136: 111,
  24: 110,
  201: 110,
  362: 109,
  510: 108,
  322: 107,
  59: 107,
  436: 106,
  286: 106,
  17: 105,
  593: 103,
  309: 103,
  40: 103,
  412: 102,
  32: 102,
  601: 101,
  39: 100,
  604: 100,
  373: 100,
  323: 98,
  16: 98,
  215: 98,
  159: 97,
  93: 97,
  361: 97,
  503: 95,
  227: 94,
  415: 94,
  592: 94,
  168: 94,
  422: 93,
  370: 93,
  418: 93,
  244: 93,
  98: 92,
  353: 90,
  211: 89,
  554: 89,
  426: 88,
  284: 88,
  504: 87,
  541: 87,
  116: 87,
  34: 86,
  500: 86,
  191: 85,
  446: 84,
  427: 84,
  213: 84,
  204: 83,
  584: 83,
  553: 83,
  171: 82,
  460: 82,
  390: 81,
  29: 81,
  470: 80,
  38: 78,
  447: 78,
  96: 78,
  445: 77,
  178: 77,
  337: 77,
  108: 76,
  543: 76,
  241: 76,
  523: 75,
  223: 75,
  225: 75,
  566: 74,
  359: 74,
  579: 73,
  528: 73,
  297: 72,
  401: 72,
  143: 71,
  384: 70,
  86: 70,
  75: 69,
  131: 69,
  476: 69,
  179: 69,
  344: 69,
  386: 68,
  417: 67,
  174: 67,
  190: 66,
  342: 66,
  229: 65,
  235: 65,
  165: 65,
  112: 65,
  546: 64,
  310: 64,
  491: 64,
  11: 64,
  79: 64,
  152: 63,
  345: 62,
  70: 62,
  395: 61,
  101: 61,
  493: 61,
  78: 61,
  585: 61,
  36: 60,
  404: 60,
  343: 59,
  458: 59,
  151: 59,
  429: 58,
  430: 58,
  526: 58,
  149: 58,
  121: 58,
  267: 57,
  183: 57,
  262: 57,
  455: 57,
  486: 56,
  487: 56,
  582: 56,
  583: 56,
  558: 56,
  264: 56,
  123: 56,
  321: 56,
  588: 56,
  94: 56,
  336: 56,
  413: 56,
  88: 56,
  102: 56,
  273: 55,
  348: 55,
  591: 54,
  90: 54,
  224: 54,
  261: 53,
  303: 53,
  316: 53,
  99: 53,
  511: 52,
  341: 52,
  497: 51,
  416: 51,
  450: 51,
  110: 51,
  248: 51,
  532: 50,
  457: 50,
  170: 50,
  31: 50,
  124: 50,
  237: 50,
  512: 50,
  188: 48,
  44: 48,
  402: 48,
  148: 48,
  378: 48,
  327: 48,
  14: 48,
  537: 47,
  185: 47,
  253: 47,
  8: 47,
  69: 46,
  9: 46,
  155: 46,
  398: 46,
  56: 46,
  72: 45,
  501: 45,
  441: 45,
  203: 45,
  347: 45,
  454: 45,
  255: 44,
  5: 44,
  238: 44,
  400: 43,
  271: 43,
  456: 43,
  506: 42,
  46: 42,
  435: 42,
  444: 42,
  540: 42,
  276: 41,
  358: 41,
  371: 41,
  295: 41,
  589: 40,
  270: 40,
  521: 40,
  581: 40,
  350: 40,
  536: 40,
  161: 39,
  338: 39,
  61: 39,
  3: 39,
  533: 38,
  449: 38,
  142: 38,
  162: 38,
  539: 38,
  126: 38,
  252: 38,
  473: 37,
  349: 37,
  443: 37,
  421: 37,
  538: 37,
  609: 37,
  575: 36,
  164: 36,
  97: 36,
  67: 36,
  285: 36,
  176: 36,
  379: 36,
  399: 36,
  243: 36,
  134: 35,
  502: 35,
  209: 35,
  498: 35,
  283: 35,
  242: 35,
  71: 35,
  193: 35,
  133: 35,
  197: 35,
  319: 35,
  30: 34,
  389: 34,
  383: 34,
  107: 34,
  451: 34,
  85: 34,
  65: 34,
  403: 34,
  154: 34,
  128: 33,
  48: 33,
  463: 33,
  440: 33,
  374: 33,
  106: 33,
  468: 33,
  54: 33,
  315: 33,
  375: 33,
  146: 32,
  302: 32,
  300: 32,
  513: 32,
  556: 32,
  196: 32,
  12: 32,
  13: 31,
  505: 31,
  114: 31,
  481: 31,
  366: 31,
  272: 31,
  291: 31,
  535: 30,
  236: 30,
  363: 30,
  388: 29,
  2: 29,
  565: 29,
  496: 29,
  269: 29,
  259: 29,
  77: 29,
  472: 29,
  550: 28,
  396: 28,
  311: 28,
  130: 28,
  277: 28,
  471: 28,
  335: 28,
  340: 28,
  499: 27,
  530: 27,
  557: 27,
  250: 27,
  296: 27,
  205: 27,
  461: 27,
  578: 27,
  158: 26,
  548: 26,
  81: 26,
  218: 26,
  355: 26,
  459: 26,
  515: 26,
  516: 26,
  25: 26,
  519: 26,
  172: 26,
  150: 26,
  208: 26,
  529: 25,
  206: 25,
  360: 25,
  333: 25,
  228: 25,
  258: 25,
  55: 25,
  392: 25,
  173: 25,
  92: 24,
  231: 24,
  518: 24,
  180: 24,
  175: 24,
  508: 24,
  289: 24,
  485: 23,
  329: 23,
  299: 23,
  574: 23,
  568: 23,
  163: 23,
  394: 23,
  251: 23,
  35: 23,
  145: 23,
  545: 23,
  423: 23,
  397: 23,
  118: 22,
  120: 22,
  433: 22,
  407: 22,
  531: 22,
  127: 22,
  214: 22,
  60: 22,
  138: 22,
  467: 22,
  544: 22,
  478: 22,
  192: 22,
  494: 22,
  598: 21,
  281: 21,
  245: 21,
  364: 21,
  293: 21,
  547: 21,
  157: 21,
  507: 21,
  37: 21,
  26: 21,
  439: 21,
  49: 21,
  87: 21,
  549: 21,
  324: 21,
  595: 20,
  189: 20,
  207: 20,
  194: 20,
  147: 20,
  257: 20,
  406: 20,
  431: 20,
  278: 20,
  442: 20,
  569: 20,
  320: 20,
  576: 20,
  53: 20},
 'new_id': {414: 0,
  599: 1,
  474: 2,
  448: 3,
  274: 4,
  610: 5,
  68: 6,
  380: 7,
  606: 8,
  288: 9,
  249: 10,
  387: 11,
  182: 12,
  307: 13,
  603: 14,
  298: 15,
  177: 16,
  318: 17,
  232: 18,
  480: 19,
  608: 20,
  600: 21,
  483: 22,
  590: 23,
  105: 24,
  19: 25,
  305: 26,
  489: 27,
  111: 28,
  438: 29,
  217: 30,
  140: 31,
  477: 32,
  555: 33,
  91: 34,
  28: 35,
  219: 36,
  534: 37,
  89: 38,
  64: 39,
  226: 40,
  561: 41,
  18: 42,
  525: 43,
  57: 44,
  381: 45,
  368: 46,
  509: 47,
  469: 48,
  560: 49,
  462: 50,
  292: 51,
  21: 52,
  597: 53,
  42: 54,
  294: 55,
  160: 56,
  580: 57,
  596: 58,
  202: 59,
  275: 60,
  517: 61,
  45: 62,
  156: 63,
  514: 64,
  391: 65,
  567: 66,
  357: 67,
  103: 68,
  339: 69,
  62: 70,
  199: 71,
  125: 72,
  51: 73,
  132: 74,
  66: 75,
  313: 76,
  200: 77,
  221: 78,
  6: 79,
  453: 80,
  50: 81,
  425: 82,
  428: 83,
  573: 84,
  352: 85,
  84: 86,
  122: 87,
  382: 88,
  356: 89,
  239: 90,
  135: 91,
  365: 92,
  484: 93,
  104: 94,
  63: 95,
  325: 96,
  169: 97,
  332: 98,
  290: 99,
  495: 100,
  432: 101,
  187: 102,
  328: 103,
  222: 104,
  212: 105,
  330: 106,
  20: 107,
  282: 108,
  372: 109,
  434: 110,
  594: 111,
  1: 112,
  562: 113,
  198: 114,
  82: 115,
  186: 116,
  354: 117,
  312: 118,
  605: 119,
  41: 120,
  4: 121,
  304: 122,
  119: 123,
  563: 124,
  263: 125,
  73: 126,
  586: 127,
  220: 128,
  246: 129,
  234: 130,
  452: 131,
  385: 132,
  522: 133,
  280: 134,
  139: 135,
  570: 136,
  166: 137,
  317: 138,
  552: 139,
  607: 140,
  195: 141,
  520: 142,
  367: 143,
  479: 144,
  266: 145,
  153: 146,
  74: 147,
  279: 148,
  256: 149,
  167: 150,
  331: 151,
  95: 152,
  141: 153,
  527: 154,
  410: 155,
  80: 156,
  587: 157,
  117: 158,
  346: 159,
  216: 160,
  265: 161,
  577: 162,
  564: 163,
  33: 164,
  419: 165,
  475: 166,
  572: 167,
  334: 168,
  260: 169,
  287: 170,
  7: 171,
  326: 172,
  233: 173,
  113: 174,
  247: 175,
  100: 176,
  420: 177,
  351: 178,
  408: 179,
  137: 180,
  47: 181,
  129: 182,
  559: 183,
  10: 184,
  230: 185,
  210: 186,
  464: 187,
  424: 188,
  602: 189,
  15: 190,
  27: 191,
  184: 192,
  376: 193,
  377: 194,
  524: 195,
  52: 196,
  268: 197,
  369: 198,
  314: 199,
  144: 200,
  482: 201,
  240: 202,
  109: 203,
  254: 204,
  411: 205,
  409: 206,
  551: 207,
  393: 208,
  437: 209,
  23: 210,
  492: 211,
  405: 212,
  76: 213,
  22: 214,
  83: 215,
  181: 216,
  465: 217,
  308: 218,
  301: 219,
  43: 220,
  466: 221,
  490: 222,
  542: 223,
  58: 224,
  115: 225,
  306: 226,
  571: 227,
  488: 228,
  136: 229,
  24: 230,
  201: 231,
  362: 232,
  510: 233,
  322: 234,
  59: 235,
  436: 236,
  286: 237,
  17: 238,
  593: 239,
  309: 240,
  40: 241,
  412: 242,
  32: 243,
  601: 244,
  39: 245,
  604: 246,
  373: 247,
  323: 248,
  16: 249,
  215: 250,
  159: 251,
  93: 252,
  361: 253,
  503: 254,
  227: 255,
  415: 256,
  592: 257,
  168: 258,
  422: 259,
  370: 260,
  418: 261,
  244: 262,
  98: 263,
  353: 264,
  211: 265,
  554: 266,
  426: 267,
  284: 268,
  504: 269,
  541: 270,
  116: 271,
  34: 272,
  500: 273,
  191: 274,
  446: 275,
  427: 276,
  213: 277,
  204: 278,
  584: 279,
  553: 280,
  171: 281,
  460: 282,
  390: 283,
  29: 284,
  470: 285,
  38: 286,
  447: 287,
  96: 288,
  445: 289,
  178: 290,
  337: 291,
  108: 292,
  543: 293,
  241: 294,
  523: 295,
  223: 296,
  225: 297,
  566: 298,
  359: 299,
  579: 300,
  528: 301,
  297: 302,
  401: 303,
  143: 304,
  384: 305,
  86: 306,
  75: 307,
  131: 308,
  476: 309,
  179: 310,
  344: 311,
  386: 312,
  417: 313,
  174: 314,
  190: 315,
  342: 316,
  229: 317,
  235: 318,
  165: 319,
  112: 320,
  546: 321,
  310: 322,
  491: 323,
  11: 324,
  79: 325,
  152: 326,
  345: 327,
  70: 328,
  395: 329,
  101: 330,
  493: 331,
  78: 332,
  585: 333,
  36: 334,
  404: 335,
  343: 336,
  458: 337,
  151: 338,
  429: 339,
  430: 340,
  526: 341,
  149: 342,
  121: 343,
  267: 344,
  183: 345,
  262: 346,
  455: 347,
  486: 348,
  487: 349,
  582: 350,
  583: 351,
  558: 352,
  264: 353,
  123: 354,
  321: 355,
  588: 356,
  94: 357,
  336: 358,
  413: 359,
  88: 360,
  102: 361,
  273: 362,
  348: 363,
  591: 364,
  90: 365,
  224: 366,
  261: 367,
  303: 368,
  316: 369,
  99: 370,
  511: 371,
  341: 372,
  497: 373,
  416: 374,
  450: 375,
  110: 376,
  248: 377,
  532: 378,
  457: 379,
  170: 380,
  31: 381,
  124: 382,
  237: 383,
  512: 384,
  188: 385,
  44: 386,
  402: 387,
  148: 388,
  378: 389,
  327: 390,
  14: 391,
  537: 392,
  185: 393,
  253: 394,
  8: 395,
  69: 396,
  9: 397,
  155: 398,
  398: 399,
  56: 400,
  72: 401,
  501: 402,
  441: 403,
  203: 404,
  347: 405,
  454: 406,
  255: 407,
  5: 408,
  238: 409,
  400: 410,
  271: 411,
  456: 412,
  506: 413,
  46: 414,
  435: 415,
  444: 416,
  540: 417,
  276: 418,
  358: 419,
  371: 420,
  295: 421,
  589: 422,
  270: 423,
  521: 424,
  581: 425,
  350: 426,
  536: 427,
  161: 428,
  338: 429,
  61: 430,
  3: 431,
  533: 432,
  449: 433,
  142: 434,
  162: 435,
  539: 436,
  126: 437,
  252: 438,
  473: 439,
  349: 440,
  443: 441,
  421: 442,
  538: 443,
  609: 444,
  575: 445,
  164: 446,
  97: 447,
  67: 448,
  285: 449,
  176: 450,
  379: 451,
  399: 452,
  243: 453,
  134: 454,
  502: 455,
  209: 456,
  498: 457,
  283: 458,
  242: 459,
  71: 460,
  193: 461,
  133: 462,
  197: 463,
  319: 464,
  30: 465,
  389: 466,
  383: 467,
  107: 468,
  451: 469,
  85: 470,
  65: 471,
  403: 472,
  154: 473,
  128: 474,
  48: 475,
  463: 476,
  440: 477,
  374: 478,
  106: 479,
  468: 480,
  54: 481,
  315: 482,
  375: 483,
  146: 484,
  302: 485,
  300: 486,
  513: 487,
  556: 488,
  196: 489,
  12: 490,
  13: 491,
  505: 492,
  114: 493,
  481: 494,
  366: 495,
  272: 496,
  291: 497,
  535: 498,
  236: 499,
  363: 500,
  388: 501,
  2: 502,
  565: 503,
  496: 504,
  269: 505,
  259: 506,
  77: 507,
  472: 508,
  550: 509,
  396: 510,
  311: 511,
  130: 512,
  277: 513,
  471: 514,
  335: 515,
  340: 516,
  499: 517,
  530: 518,
  557: 519,
  250: 520,
  296: 521,
  205: 522,
  461: 523,
  578: 524,
  158: 525,
  548: 526,
  81: 527,
  218: 528,
  355: 529,
  459: 530,
  515: 531,
  516: 532,
  25: 533,
  519: 534,
  172: 535,
  150: 536,
  208: 537,
  529: 538,
  206: 539,
  360: 540,
  333: 541,
  228: 542,
  258: 543,
  55: 544,
  392: 545,
  173: 546,
  92: 547,
  231: 548,
  518: 549,
  180: 550,
  175: 551,
  508: 552,
  289: 553,
  485: 554,
  329: 555,
  299: 556,
  574: 557,
  568: 558,
  163: 559,
  394: 560,
  251: 561,
  35: 562,
  145: 563,
  545: 564,
  423: 565,
  397: 566,
  118: 567,
  120: 568,
  433: 569,
  407: 570,
  531: 571,
  127: 572,
  214: 573,
  60: 574,
  138: 575,
  467: 576,
  544: 577,
  478: 578,
  192: 579,
  494: 580,
  598: 581,
  281: 582,
  245: 583,
  364: 584,
  293: 585,
  547: 586,
  157: 587,
  507: 588,
  37: 589,
  26: 590,
  439: 591,
  49: 592,
  87: 593,
  549: 594,
  324: 595,
  595: 596,
  189: 597,
  207: 598,
  194: 599,
  147: 600,
  257: 601,
  406: 602,
  431: 603,
  278: 604,
  442: 605,
  569: 606,
  320: 607,
  576: 608,
  53: 609}}

In [14]:
user_id_dict = frame_dict['new_id']
user_id_dict

{414: 0,
 599: 1,
 474: 2,
 448: 3,
 274: 4,
 610: 5,
 68: 6,
 380: 7,
 606: 8,
 288: 9,
 249: 10,
 387: 11,
 182: 12,
 307: 13,
 603: 14,
 298: 15,
 177: 16,
 318: 17,
 232: 18,
 480: 19,
 608: 20,
 600: 21,
 483: 22,
 590: 23,
 105: 24,
 19: 25,
 305: 26,
 489: 27,
 111: 28,
 438: 29,
 217: 30,
 140: 31,
 477: 32,
 555: 33,
 91: 34,
 28: 35,
 219: 36,
 534: 37,
 89: 38,
 64: 39,
 226: 40,
 561: 41,
 18: 42,
 525: 43,
 57: 44,
 381: 45,
 368: 46,
 509: 47,
 469: 48,
 560: 49,
 462: 50,
 292: 51,
 21: 52,
 597: 53,
 42: 54,
 294: 55,
 160: 56,
 580: 57,
 596: 58,
 202: 59,
 275: 60,
 517: 61,
 45: 62,
 156: 63,
 514: 64,
 391: 65,
 567: 66,
 357: 67,
 103: 68,
 339: 69,
 62: 70,
 199: 71,
 125: 72,
 51: 73,
 132: 74,
 66: 75,
 313: 76,
 200: 77,
 221: 78,
 6: 79,
 453: 80,
 50: 81,
 425: 82,
 428: 83,
 573: 84,
 352: 85,
 84: 86,
 122: 87,
 382: 88,
 356: 89,
 239: 90,
 135: 91,
 365: 92,
 484: 93,
 104: 94,
 63: 95,
 325: 96,
 169: 97,
 332: 98,
 290: 99,
 495: 100,
 432: 101,
 187: 102,
 328: 103,
 222: 104,
 212: 105,
 330: 106,
 20: 107,
 282: 108,
 372: 109,
 434: 110,
 594: 111,
 1: 112,
 562: 113,
 198: 114,
 82: 115,
 186: 116,
 354: 117,
 312: 118,
 605: 119,
 41: 120,
 4: 121,
 304: 122,
 119: 123,
 563: 124,
 263: 125,
 73: 126,
 586: 127,
 220: 128,
 246: 129,
 234: 130,
 452: 131,
 385: 132,
 522: 133,
 280: 134,
 139: 135,
 570: 136,
 166: 137,
 317: 138,
 552: 139,
 607: 140,
 195: 141,
 520: 142,
 367: 143,
 479: 144,
 266: 145,
 153: 146,
 74: 147,
 279: 148,
 256: 149,
 167: 150,
 331: 151,
 95: 152,
 141: 153,
 527: 154,
 410: 155,
 80: 156,
 587: 157,
 117: 158,
 346: 159,
 216: 160,
 265: 161,
 577: 162,
 564: 163,
 33: 164,
 419: 165,
 475: 166,
 572: 167,
 334: 168,
 260: 169,
 287: 170,
 7: 171,
 326: 172,
 233: 173,
 113: 174,
 247: 175,
 100: 176,
 420: 177,
 351: 178,
 408: 179,
 137: 180,
 47: 181,
 129: 182,
 559: 183,
 10: 184,
 230: 185,
 210: 186,
 464: 187,
 424: 188,
 602: 189,
 15: 190,
 27: 191,
 184: 192,
 376: 193,
 377: 194,
 524: 195,
 52: 196,
 268: 197,
 369: 198,
 314: 199,
 144: 200,
 482: 201,
 240: 202,
 109: 203,
 254: 204,
 411: 205,
 409: 206,
 551: 207,
 393: 208,
 437: 209,
 23: 210,
 492: 211,
 405: 212,
 76: 213,
 22: 214,
 83: 215,
 181: 216,
 465: 217,
 308: 218,
 301: 219,
 43: 220,
 466: 221,
 490: 222,
 542: 223,
 58: 224,
 115: 225,
 306: 226,
 571: 227,
 488: 228,
 136: 229,
 24: 230,
 201: 231,
 362: 232,
 510: 233,
 322: 234,
 59: 235,
 436: 236,
 286: 237,
 17: 238,
 593: 239,
 309: 240,
 40: 241,
 412: 242,
 32: 243,
 601: 244,
 39: 245,
 604: 246,
 373: 247,
 323: 248,
 16: 249,
 215: 250,
 159: 251,
 93: 252,
 361: 253,
 503: 254,
 227: 255,
 415: 256,
 592: 257,
 168: 258,
 422: 259,
 370: 260,
 418: 261,
 244: 262,
 98: 263,
 353: 264,
 211: 265,
 554: 266,
 426: 267,
 284: 268,
 504: 269,
 541: 270,
 116: 271,
 34: 272,
 500: 273,
 191: 274,
 446: 275,
 427: 276,
 213: 277,
 204: 278,
 584: 279,
 553: 280,
 171: 281,
 460: 282,
 390: 283,
 29: 284,
 470: 285,
 38: 286,
 447: 287,
 96: 288,
 445: 289,
 178: 290,
 337: 291,
 108: 292,
 543: 293,
 241: 294,
 523: 295,
 223: 296,
 225: 297,
 566: 298,
 359: 299,
 579: 300,
 528: 301,
 297: 302,
 401: 303,
 143: 304,
 384: 305,
 86: 306,
 75: 307,
 131: 308,
 476: 309,
 179: 310,
 344: 311,
 386: 312,
 417: 313,
 174: 314,
 190: 315,
 342: 316,
 229: 317,
 235: 318,
 165: 319,
 112: 320,
 546: 321,
 310: 322,
 491: 323,
 11: 324,
 79: 325,
 152: 326,
 345: 327,
 70: 328,
 395: 329,
 101: 330,
 493: 331,
 78: 332,
 585: 333,
 36: 334,
 404: 335,
 343: 336,
 458: 337,
 151: 338,
 429: 339,
 430: 340,
 526: 341,
 149: 342,
 121: 343,
 267: 344,
 183: 345,
 262: 346,
 455: 347,
 486: 348,
 487: 349,
 582: 350,
 583: 351,
 558: 352,
 264: 353,
 123: 354,
 321: 355,
 588: 356,
 94: 357,
 336: 358,
 413: 359,
 88: 360,
 102: 361,
 273: 362,
 348: 363,
 591: 364,
 90: 365,
 224: 366,
 261: 367,
 303: 368,
 316: 369,
 99: 370,
 511: 371,
 341: 372,
 497: 373,
 416: 374,
 450: 375,
 110: 376,
 248: 377,
 532: 378,
 457: 379,
 170: 380,
 31: 381,
 124: 382,
 237: 383,
 512: 384,
 188: 385,
 44: 386,
 402: 387,
 148: 388,
 378: 389,
 327: 390,
 14: 391,
 537: 392,
 185: 393,
 253: 394,
 8: 395,
 69: 396,
 9: 397,
 155: 398,
 398: 399,
 56: 400,
 72: 401,
 501: 402,
 441: 403,
 203: 404,
 347: 405,
 454: 406,
 255: 407,
 5: 408,
 238: 409,
 400: 410,
 271: 411,
 456: 412,
 506: 413,
 46: 414,
 435: 415,
 444: 416,
 540: 417,
 276: 418,
 358: 419,
 371: 420,
 295: 421,
 589: 422,
 270: 423,
 521: 424,
 581: 425,
 350: 426,
 536: 427,
 161: 428,
 338: 429,
 61: 430,
 3: 431,
 533: 432,
 449: 433,
 142: 434,
 162: 435,
 539: 436,
 126: 437,
 252: 438,
 473: 439,
 349: 440,
 443: 441,
 421: 442,
 538: 443,
 609: 444,
 575: 445,
 164: 446,
 97: 447,
 67: 448,
 285: 449,
 176: 450,
 379: 451,
 399: 452,
 243: 453,
 134: 454,
 502: 455,
 209: 456,
 498: 457,
 283: 458,
 242: 459,
 71: 460,
 193: 461,
 133: 462,
 197: 463,
 319: 464,
 30: 465,
 389: 466,
 383: 467,
 107: 468,
 451: 469,
 85: 470,
 65: 471,
 403: 472,
 154: 473,
 128: 474,
 48: 475,
 463: 476,
 440: 477,
 374: 478,
 106: 479,
 468: 480,
 54: 481,
 315: 482,
 375: 483,
 146: 484,
 302: 485,
 300: 486,
 513: 487,
 556: 488,
 196: 489,
 12: 490,
 13: 491,
 505: 492,
 114: 493,
 481: 494,
 366: 495,
 272: 496,
 291: 497,
 535: 498,
 236: 499,
 363: 500,
 388: 501,
 2: 502,
 565: 503,
 496: 504,
 269: 505,
 259: 506,
 77: 507,
 472: 508,
 550: 509,
 396: 510,
 311: 511,
 130: 512,
 277: 513,
 471: 514,
 335: 515,
 340: 516,
 499: 517,
 530: 518,
 557: 519,
 250: 520,
 296: 521,
 205: 522,
 461: 523,
 578: 524,
 158: 525,
 548: 526,
 81: 527,
 218: 528,
 355: 529,
 459: 530,
 515: 531,
 516: 532,
 25: 533,
 519: 534,
 172: 535,
 150: 536,
 208: 537,
 529: 538,
 206: 539,
 360: 540,
 333: 541,
 228: 542,
 258: 543,
 55: 544,
 392: 545,
 173: 546,
 92: 547,
 231: 548,
 518: 549,
 180: 550,
 175: 551,
 508: 552,
 289: 553,
 485: 554,
 329: 555,
 299: 556,
 574: 557,
 568: 558,
 163: 559,
 394: 560,
 251: 561,
 35: 562,
 145: 563,
 545: 564,
 423: 565,
 397: 566,
 118: 567,
 120: 568,
 433: 569,
 407: 570,
 531: 571,
 127: 572,
 214: 573,
 60: 574,
 138: 575,
 467: 576,
 544: 577,
 478: 578,
 192: 579,
 494: 580,
 598: 581,
 281: 582,
 245: 583,
 364: 584,
 293: 585,
 547: 586,
 157: 587,
 507: 588,
 37: 589,
 26: 590,
 439: 591,
 49: 592,
 87: 593,
 549: 594,
 324: 595,
 595: 596,
 189: 597,
 207: 598,
 194: 599,
 147: 600,
 257: 601,
 406: 602,
 431: 603,
 278: 604,
 442: 605,
 569: 606,
 320: 607,
 576: 608,
 53: 609}

In [15]:
user_frame = user_frame.set_index('new_id')
user_frame

        item_cnt
new_id
0           2698
1           2478
2           2108
3           1864
4           1346
...          ...
605           20
606           20
607           20
608           20
609           20

[610 rows x 1 columns]

In [16]:
user_to_num_items = user_frame.to_dict()['item_cnt']
user_to_num_items

{0: 2698,
 1: 2478,
 2: 2108,
 3: 1864,
 4: 1346,
 5: 1302,
 6: 1260,
 7: 1218,
 8: 1115,
 9: 1055,
 10: 1046,
 11: 1027,
 12: 977,
 13: 975,
 14: 943,
 15: 939,
 16: 904,
 17: 879,
 18: 862,
 19: 836,
 20: 831,
 21: 763,
 22: 728,
 23: 728,
 24: 722,
 25: 703,
 26: 677,
 27: 648,
 28: 646,
 29: 635,
 30: 613,
 31: 608,
 32: 600,
 33: 578,
 34: 575,
 35: 570,
 36: 528,
 37: 520,
 38: 518,
 39: 517,
 40: 507,
 41: 505,
 42: 502,
 43: 500,
 44: 476,
 45: 474,
 46: 469,
 47: 467,
 48: 465,
 49: 458,
 50: 455,
 51: 446,
 52: 443,
 53: 443,
 54: 440,
 55: 437,
 56: 437,
 57: 436,
 58: 411,
 59: 403,
 60: 403,
 61: 400,
 62: 399,
 63: 398,
 64: 397,
 65: 386,
 66: 385,
 67: 383,
 68: 377,
 69: 371,
 70: 366,
 71: 363,
 72: 360,
 73: 359,
 74: 347,
 75: 345,
 76: 340,
 77: 334,
 78: 331,
 79: 314,
 80: 311,
 81: 310,
 82: 306,
 83: 300,
 84: 299,
 85: 294,
 86: 293,
 87: 292,
 88: 291,
 89: 289,
 90: 279,
 91: 279,
 92: 277,
 93: 275,
 94: 273,
 95: 271,
 96: 270,
 97: 269,
 98: 267,
 99: 267,
 100: 265,
 101: 260,
 102: 258,
 103: 255,
 104: 250,
 105: 248,
 106: 247,
 107: 242,
 108: 237,
 109: 236,
 110: 233,
 111: 232,
 112: 232,
 113: 231,
 114: 230,
 115: 227,
 116: 226,
 117: 226,
 118: 223,
 119: 221,
 120: 217,
 121: 216,
 122: 216,
 123: 215,
 124: 213,
 125: 210,
 126: 210,
 127: 208,
 128: 207,
 129: 204,
 130: 202,
 131: 202,
 132: 201,
 133: 200,
 134: 196,
 135: 194,
 136: 191,
 137: 190,
 138: 189,
 139: 188,
 140: 187,
 141: 187,
 142: 186,
 143: 185,
 144: 181,
 145: 180,
 146: 179,
 147: 177,
 148: 176,
 149: 174,
 150: 173,
 151: 168,
 152: 168,
 153: 168,
 154: 167,
 155: 167,
 156: 167,
 157: 165,
 158: 165,
 159: 164,
 160: 164,
 161: 163,
 162: 161,
 163: 157,
 164: 156,
 165: 155,
 166: 155,
 167: 155,
 168: 154,
 169: 152,
 170: 152,
 171: 152,
 172: 152,
 173: 150,
 174: 150,
 175: 150,
 176: 148,
 177: 141,
 178: 141,
 179: 141,
 180: 141,
 181: 140,
 182: 140,
 183: 140,
 184: 140,
 185: 139,
 186: 138,
 187: 138,
 188: 138,
 189: 135,
 190: 135,
 191: 135,
 192: 134,
 193: 133,
 194: 131,
 195: 131,
 196: 130,
 197: 129,
 198: 129,
 199: 128,
 200: 128,
 201: 128,
 202: 128,
 203: 127,
 204: 127,
 205: 127,
 206: 126,
 207: 123,
 208: 123,
 209: 122,
 210: 121,
 211: 121,
 212: 120,
 213: 119,
 214: 119,
 215: 118,
 216: 118,
 217: 115,
 218: 115,
 219: 114,
 220: 114,
 221: 113,
 222: 113,
 223: 113,
 224: 112,
 225: 112,
 226: 112,
 227: 112,
 228: 111,
 229: 111,
 230: 110,
 231: 110,
 232: 109,
 233: 108,
 234: 107,
 235: 107,
 236: 106,
 237: 106,
 238: 105,
 239: 103,
 240: 103,
 241: 103,
 242: 102,
 243: 102,
 244: 101,
 245: 100,
 246: 100,
 247: 100,
 248: 98,
 249: 98,
 250: 98,
 251: 97,
 252: 97,
 253: 97,
 254: 95,
 255: 94,
 256: 94,
 257: 94,
 258: 94,
 259: 93,
 260: 93,
 261: 93,
 262: 93,
 263: 92,
 264: 90,
 265: 89,
 266: 89,
 267: 88,
 268: 88,
 269: 87,
 270: 87,
 271: 87,
 272: 86,
 273: 86,
 274: 85,
 275: 84,
 276: 84,
 277: 84,
 278: 83,
 279: 83,
 280: 83,
 281: 82,
 282: 82,
 283: 81,
 284: 81,
 285: 80,
 286: 78,
 287: 78,
 288: 78,
 289: 77,
 290: 77,
 291: 77,
 292: 76,
 293: 76,
 294: 76,
 295: 75,
 296: 75,
 297: 75,
 298: 74,
 299: 74,
 300: 73,
 301: 73,
 302: 72,
 303: 72,
 304: 71,
 305: 70,
 306: 70,
 307: 69,
 308: 69,
 309: 69,
 310: 69,
 311: 69,
 312: 68,
 313: 67,
 314: 67,
 315: 66,
 316: 66,
 317: 65,
 318: 65,
 319: 65,
 320: 65,
 321: 64,
 322: 64,
 323: 64,
 324: 64,
 325: 64,
 326: 63,
 327: 62,
 328: 62,
 329: 61,
 330: 61,
 331: 61,
 332: 61,
 333: 61,
 334: 60,
 335: 60,
 336: 59,
 337: 59,
 338: 59,
 339: 58,
 340: 58,
 341: 58,
 342: 58,
 343: 58,
 344: 57,
 345: 57,
 346: 57,
 347: 57,
 348: 56,
 349: 56,
 350: 56,
 351: 56,
 352: 56,
 353: 56,
 354: 56,
 355: 56,
 356: 56,
 357: 56,
 358: 56,
 359: 56,
 360: 56,
 361: 56,
 362: 55,
 363: 55,
 364: 54,
 365: 54,
 366: 54,
 367: 53,
 368: 53,
 369: 53,
 370: 53,
 371: 52,
 372: 52,
 373: 51,
 374: 51,
 375: 51,
 376: 51,
 377: 51,
 378: 50,
 379: 50,
 380: 50,
 381: 50,
 382: 50,
 383: 50,
 384: 50,
 385: 48,
 386: 48,
 387: 48,
 388: 48,
 389: 48,
 390: 48,
 391: 48,
 392: 47,
 393: 47,
 394: 47,
 395: 47,
 396: 46,
 397: 46,
 398: 46,
 399: 46,
 400: 46,
 401: 45,
 402: 45,
 403: 45,
 404: 45,
 405: 45,
 406: 45,
 407: 44,
 408: 44,
 409: 44,
 410: 43,
 411: 43,
 412: 43,
 413: 42,
 414: 42,
 415: 42,
 416: 42,
 417: 42,
 418: 41,
 419: 41,
 420: 41,
 421: 41,
 422: 40,
 423: 40,
 424: 40,
 425: 40,
 426: 40,
 427: 40,
 428: 39,
 429: 39,
 430: 39,
 431: 39,
 432: 38,
 433: 38,
 434: 38,
 435: 38,
 436: 38,
 437: 38,
 438: 38,
 439: 37,
 440: 37,
 441: 37,
 442: 37,
 443: 37,
 444: 37,
 445: 36,
 446: 36,
 447: 36,
 448: 36,
 449: 36,
 450: 36,
 451: 36,
 452: 36,
 453: 36,
 454: 35,
 455: 35,
 456: 35,
 457: 35,
 458: 35,
 459: 35,
 460: 35,
 461: 35,
 462: 35,
 463: 35,
 464: 35,
 465: 34,
 466: 34,
 467: 34,
 468: 34,
 469: 34,
 470: 34,
 471: 34,
 472: 34,
 473: 34,
 474: 33,
 475: 33,
 476: 33,
 477: 33,
 478: 33,
 479: 33,
 480: 33,
 481: 33,
 482: 33,
 483: 33,
 484: 32,
 485: 32,
 486: 32,
 487: 32,
 488: 32,
 489: 32,
 490: 32,
 491: 31,
 492: 31,
 493: 31,
 494: 31,
 495: 31,
 496: 31,
 497: 31,
 498: 30,
 499: 30,
 500: 30,
 501: 29,
 502: 29,
 503: 29,
 504: 29,
 505: 29,
 506: 29,
 507: 29,
 508: 29,
 509: 28,
 510: 28,
 511: 28,
 512: 28,
 513: 28,
 514: 28,
 515: 28,
 516: 28,
 517: 27,
 518: 27,
 519: 27,
 520: 27,
 521: 27,
 522: 27,
 523: 27,
 524: 27,
 525: 26,
 526: 26,
 527: 26,
 528: 26,
 529: 26,
 530: 26,
 531: 26,
 532: 26,
 533: 26,
 534: 26,
 535: 26,
 536: 26,
 537: 26,
 538: 25,
 539: 25,
 540: 25,
 541: 25,
 542: 25,
 543: 25,
 544: 25,
 545: 25,
 546: 25,
 547: 24,
 548: 24,
 549: 24,
 550: 24,
 551: 24,
 552: 24,
 553: 24,
 554: 23,
 555: 23,
 556: 23,
 557: 23,
 558: 23,
 559: 23,
 560: 23,
 561: 23,
 562: 23,
 563: 23,
 564: 23,
 565: 23,
 566: 23,
 567: 22,
 568: 22,
 569: 22,
 570: 22,
 571: 22,
 572: 22,
 573: 22,
 574: 22,
 575: 22,
 576: 22,
 577: 22,
 578: 22,
 579: 22,
 580: 22,
 581: 21,
 582: 21,
 583: 21,
 584: 21,
 585: 21,
 586: 21,
 587: 21,
 588: 21,
 589: 21,
 590: 21,
 591: 21,
 592: 21,
 593: 21,
 594: 21,
 595: 21,
 596: 20,
 597: 20,
 598: 20,
 599: 20,
 600: 20,
 601: 20,
 602: 20,
 603: 20,
 604: 20,
 605: 20,
 606: 20,
 607: 20,
 608: 20,
 609: 20}

In [17]:
data.user = [user_id_dict[x] for x in data.user.tolist()]
data

        user    item  ratings    timestamps  org_ratings
0        112       1      1.0  9.649827e+08          4.0
1        112       3      1.0  9.649812e+08          4.0
2        112       6      1.0  9.649822e+08          4.0
3        112      47      1.0  9.649838e+08          5.0
4        112      50      1.0  9.649829e+08          5.0
...      ...     ...      ...           ...          ...
100831     5  166534      1.0  1.493848e+09          4.0
100832     5  168248      1.0  1.493850e+09          5.0
100833     5  168250      1.0  1.494273e+09          5.0
100834     5  168252      1.0  1.493846e+09          5.0
100835     5  170875      1.0  1.493846e+09          3.0

[100836 rows x 5 columns]

In [18]:
item_frame = num_users_by_item
item_frame

        size
item
1        215
2        110
3         52
4          7
5         49
...      ...
193581     1
193583     1
193585     1
193587     1
193609     1

[9724 rows x 1 columns]

In [19]:
item_frame.columns = ['user_cnt']

if order_by_popularity:
    item_frame = item_frame.sort_values(by='user_cnt', ascending=False)
    
item_frame['new_id'] = range(num_items)
item_frame

        user_cnt  new_id
item
356          329       0
318          317       1
296          307       2
593          279       3
2571         278       4
...          ...     ...
4093           1    9719
4089           1    9720
58351          1    9721
4083           1    9722
193609         1    9723

[9724 rows x 2 columns]

In [20]:
frame_dict = item_frame.to_dict()
frame_dict

{'user_cnt': {356: 329,
  318: 317,
  296: 307,
  593: 279,
  2571: 278,
  260: 251,
  480: 238,
  110: 237,
  589: 224,
  527: 220,
  2959: 218,
  1: 215,
  1196: 211,
  50: 204,
  2858: 204,
  47: 203,
  780: 202,
  150: 201,
  1198: 200,
  4993: 198,
  1210: 196,
  858: 192,
  457: 190,
  592: 189,
  5952: 188,
  2028: 188,
  7153: 185,
  588: 183,
  608: 181,
  2762: 179,
  380: 178,
  32: 177,
  364: 172,
  1270: 171,
  377: 171,
  3578: 170,
  4306: 170,
  1580: 165,
  590: 164,
  648: 162,
  344: 161,
  4226: 159,
  367: 157,
  58559: 149,
  6539: 149,
  1214: 146,
  595: 146,
  1036: 145,
  165: 144,
  500: 144,
  1265: 143,
  79132: 143,
  1197: 142,
  6377: 141,
  1704: 141,
  316: 140,
  2628: 140,
  1291: 140,
  1721: 140,
  153: 137,
  1136: 136,
  597: 135,
  293: 133,
  1193: 133,
  3793: 133,
  231: 133,
  4886: 132,
  10: 132,
  1089: 131,
  7361: 131,
  6874: 131,
  1240: 131,
  1221: 129,
  2329: 129,
  34: 128,
  1200: 126,
  1213: 126,
  1682: 125,
  8961: 125,
  541: 124,
  4995: 123,
  736: 123,
  5349: 122,
  1097: 122,
  2683: 121,
  733: 121,
  2716: 120,
  1206: 120,
  4973: 120,
  5445: 120,
  1073: 119,
  4963: 119,
  586: 116,
  33794: 116,
  1527: 116,
  208: 115,
  587: 115,
  5989: 115,
  1968: 113,
  185: 112,
  5418: 112,
  3147: 111,
  3996: 110,
  349: 110,
  2: 110,
  7438: 110,
  2918: 109,
  1258: 109,
  924: 109,
  4878: 109,
  253: 109,
  2115: 108,
  329: 108,
  1208: 107,
  4896: 107,
  48516: 107,
  539: 106,
  1732: 106,
  1923: 105,
  68954: 105,
  223: 104,
  60069: 104,
  39: 104,
  111: 104,
  2706: 103,
  357: 103,
  161: 103,
  6: 102,
  778: 102,
  5816: 102,
  1222: 102,
  292: 101,
  434: 101,
  454: 101,
  1517: 100,
  44191: 100,
  912: 100,
  4022: 100,
  104: 99,
  2997: 99,
  339: 98,
  72998: 97,
  3114: 97,
  750: 97,
  2987: 97,
  1617: 97,
  3949: 96,
  1784: 96,
  6365: 96,
  1961: 96,
  59315: 94,
  4027: 94,
  2502: 94,
  4011: 93,
  8368: 93,
  551: 93,
  919: 92,
  288: 92,
  2396: 92,
  5378: 92,
  8360: 92,
  2355: 92,
  1917: 92,
  1259: 91,
  1387: 91,
  3948: 91,
  1356: 91,
  2797: 91,
  2174: 91,
  48780: 90,
  1610: 90,
  21: 89,
  1080: 89,
  2012: 88,
  2916: 88,
  19: 88,
  68157: 88,
  2324: 88,
  2791: 87,
  2011: 87,
  5618: 87,
  2617: 87,
  1391: 86,
  1653: 86,
  1246: 86,
  141: 86,
  1393: 85,
  1307: 85,
  5218: 85,
  32587: 84,
  904: 84,
  1220: 84,
  410: 84,
  95: 84,
  1219: 83,
  3897: 83,
  1101: 83,
  788: 82,
  16: 82,
  1584: 82,
  300: 81,
  49272: 81,
  54286: 81,
  317: 81,
  48394: 81,
  442: 81,
  51662: 80,
  1676: 80,
  2291: 80,
  62: 80,
  3052: 79,
  6934: 79,
  1247: 79,
  8636: 79,
  3751: 78,
  33493: 78,
  594: 77,
  46578: 77,
  337: 77,
  1625: 77,
  1573: 77,
  8874: 77,
  3623: 77,
  25: 76,
  1225: 76,
  6333: 76,
  440: 76,
  2700: 76,
  91529: 76,
  69122: 76,
  3481: 75,
  8665: 75,
  2000: 75,
  6016: 75,
  3175: 75,
  2692: 75,
  6711: 74,
  35836: 74,
  368: 74,
  1485: 74,
  3994: 73,
  109487: 73,
  45722: 72,
  3977: 72,
  50872: 72,
  1201: 72,
  1028: 71,
  6373: 71,
  1079: 71,
  99114: 71,
  63082: 71,
  40815: 71,
  4034: 70,
  1407: 70,
  474: 70,
  2985: 70,
  3408: 70,
  235: 70,
  11: 70,
  7147: 69,
  89745: 69,
  1278: 69,
  520: 69,
  923: 69,
  1370: 68,
  4979: 68,
  266: 68,
  48: 68,
  1380: 68,
  3753: 68,
  2054: 68,
  4262: 67,
  2353: 67,
  1544: 67,
  36: 67,
  2081: 67,
  74458: 67,
  2542: 67,
  17: 67,
  6863: 66,
  1288: 66,
  163: 66,
  508: 66,
  553: 65,
  4246: 65,
  2194: 65,
  48385: 65,
  56367: 65,
  555: 65,
  5481: 65,
  70286: 65,
  653: 65,
  48774: 64,
  1035: 64,
  4447: 64,
  353: 64,
  55820: 64,
  4025: 64,
  2710: 64,
  1234: 64,
  786: 64,
  1954: 64,
  1090: 63,
  5502: 63,
  2657: 63,
  435: 63,
  56174: 62,
  1127: 62,
  158: 62,
  1304: 62,
  7143: 62,
  3671: 62,
  3421: 62,
  173: 62,
  41566: 62,
  3081: 62,
  1374: 62,
  8644: 61,
  3717: 61,
  552: 61,
  509: 61,
  30793: 61,
  3527: 61,
  2640: 61,
  5459: 61,
  2321: 61,
  51255: 61,
  3253: 61,
  466: 60,
  596: 60,
  1377: 60,
  2006: 60,
  5299: 60,
  903: 60,
  3471: 60,
  2302: 59,
  3033: 59,
  1552: 59,
  420: 59,
  1199: 59,
  1500: 59,
  6378: 59,
  6942: 59,
  112852: 59,
  33679: 59,
  1252: 59,
  68358: 59,
  3535: 59,
  2167: 58,
  953: 58,
  34162: 58,
  1207: 58,
  1230: 58,
  69844: 58,
  708: 58,
  81845: 58,
  5669: 58,
  6502: 58,
  370: 58,
  1608: 58,
  1394: 58,
  73017: 58,
  54001: 58,
  80463: 57,
  1276: 57,
  2268: 57,
  2470: 57,
  2005: 57,
  160: 57,
  908: 57,
  8641: 57,
  1203: 57,
  350: 57,
  53125: 56,
  1302: 56,
  2671: 56,
  1641: 56,
  1777: 56,
  4370: 56,
  2599: 56,
  2529: 56,
  1148: 56,
  2395: 56,
  2804: 55,
  78499: 55,
  4720: 55,
  2080: 55,
  4308: 55,
  5956: 55,
  432: 55,
  70: 55,
  54503: 55,
  4816: 54,
  168: 54,
  7: 54,
  784: 54,
  106782: 54,
  91500: 54,
  122904: 54,
  4018: 54,
  59784: 54,
  2406: 54,
  2572: 54,
  71535: 53,
  2701: 53,
  76093: 53,
  2712: 53,
  172: 53,
  1997: 53,
  673: 53,
  2947: 53,
  49530: 53,
  2078: 53,
  1282: 53,
  485: 53,
  2699: 53,
  3489: 53,
  3911: 53,
  45499: 52,
  225: 52,
  3: 52,
  3552: 52,
  3160: 52,
  52973: 52,
  1466: 52,
  1639: 52,
  30707: 52,
  109374: 52,
  6870: 52,
  1645: 51,
  4239: 51,
  145: 51,
  2100: 51,
  4776: 51,
  4848: 51,
  1215: 51,
  910: 50,
  5010: 50,
  116797: 50,
  3785: 50,
  33166: 50,
  333: 50,
  34048: 50,
  8361: 50,
  96079: 50,
  2424: 50,
  88125: 50,
  34405: 50,
  2105: 50,
  8464: 50,
  45447: 49,
  2144: 49,
  5: 49,
  5464: 49,
  661: 49,
  4643: 49,
  216: 49,
  5991: 49,
  3176: 49,
  2641: 49,
  2019: 48,
  186: 48,
  30749: 48,
  3000: 48,
  8784: 48,
  745: 48,
  1748: 48,
  7458: 48,
  2694: 48,
  1275: 48,
  134130: 48,
  1729: 48,
  2763: 48,
  1358: 47,
  1320: 47,
  2539: 47,
  122882: 47,
  7293: 47,
  1092: 47,
  77561: 47,
  8529: 47,
  1367: 47,
  899: 47,
  783: 47,
  4014: 47,
  1921: 47,
  81834: 47,
  2717: 47,
  2001: 47,
  1994: 47,
  5679: 47,
  2076: 46,
  4085: 46,
  5902: 46,
  64614: 46,
  2002: 46,
  54272: 46,
  1884: 46,
  5060: 46,
  112: 46,
  802: 46,
  3752: 46,
  47099: 46,
  1396: 46,
  44: 46,
  5995: 46,
  7254: 46,
  196: 45,
  4369: 45,
  2890: 45,
  4270: 45,
  3863: 45,
  920: 45,
  1183: 45,
  1722: 45,
  1690: 45,
  1907: 45,
  616: 45,
  2288: 45,
  2294: 45,
  31685: 45,
  3255: 45,
  4571: 45,
  1371: 45,
  4718: 45,
  2023: 45,
  2490: 45,
  236: 45,
  1266: 45,
  1204: 45,
  1250: 45,
  6537: 45,
  5377: 44,
  79702: 44,
  52722: 44,
  1333: 44,
  33004: 44,
  913: 44,
  849: 44,
  3755: 44,
  4975: 44,
  37729: 44,
  5903: 44,
  46976: 44,
  151: 44,
  2085: 44,
  111759: 44,
  8798: 44,
  3499: 44,
  3624: 43,
  1876: 43,
  3275: 43,
  1597: 43,
  2455: 43,
  60684: 43,
  1376: 43,
  76251: 43,
  2407: 43,
  47610: 43,
  2605: 43,
  2278: 43,
  3363: 43,
  497: 43,
  252: 43,
  2161: 43,
  87232: 43,
  852: 43,
  1263: 43,
  4310: 43,
  1262: 43,
  134853: 43,
  8984: 43,
  3448: 43,
  1094: 42,
  1375: 42,
  91658: 42,
  2724: 42,
  69757: 42,
  3868: 42,
  431: 42,
  1967: 42,
  1372: 42,
  441: 42,
  81591: 42,
  1088: 42,
  1022: 42,
  2273: 42,
  1562: 42,
  3210: 42,
  355: 42,
  261: 42,
  785: 42,
  2915: 42,
  3301: 42,
  1042: 42,
  1909: 42,
  59369: 42,
  2968: 41,
  5810: 41,
  762: 41,
  2003: 41,
  57669: 41,
  4299: 41,
  3617: 41,
  115617: 41,
  7373: 41,
  2087: 41,
  1285: 41,
  3916: 41,
  3418: 41,
  494: 41,
  122886: 41,
  1242: 41,
  45517: 41,
  55247: 41,
  543: 41,
  224: 40,
  1228: 40,
  3703: 40,
  1233: 40,
  4367: 40,
  33615: 40,
  1674: 40,
  471: 40,
  4223: 40,
  529: 40,
  6218: 40,
  376: 40,
  2541: 40,
  98809: 40,
  31658: 40,
  6807: 40,
  1032: 40,
  1569: 40,
  2193: 40,
  44199: 40,
  41569: 40,
  282: 40,
  2761: 39,
  1274: 39,
  2723: 39,
  2746: 39,
  1673: 39,
  4148: 39,
  40819: 39,
  8949: 39,
  6936: 39,
  53996: 39,
  1953: 39,
  1408: 39,
  2094: 39,
  2248: 39,
  8528: 39,
  3300: 39,
  1129: 39,
  58998: 39,
  2580: 39,
  3174: 39,
  6188: 39,
  7451: 39,
  3826: 39,
  2951: 39,
  27773: 39,
  3082: 39,
  61323: 39,
  59615: 39,
  2908: 39,
  3039: 39,
  112552: 38,
  2289: 38,
  7090: 38,
  8533: 38,
  8950: 38,
  2124: 38,
  2018: 38,
  29: 38,
  31: 38,
  2420: 38,
  91542: 38,
  2770: 38,
  51540: 38,
  3702: 38,
  79091: 38,
  3362: 38,
  44665: 38,
  277: 38,
  8972: 38,
  315: 38,
  5971: 37,
  1093: 37,
  92259: 37,
  832: 37,
  1020: 37,
  55765: 37,
  455: 37,
  8622: 37,
  4016: 37,
  5266: 37,
  8376: 37,
  64957: 37,
  2021: 37,
  3967: 37,
  58: 37,
  112556: 37,
  30810: 37,
  1060: 36,
  3101: 36,
  345: 36,
  3034: 36,
  3510: 36,
  1345: 36,
  119145: 36,
  22: 36,
  6947: 36,
  585: 36,
  1059: 36,
  3108: 36,
  34150: 36,
  2231: 36,
  180: 36,
  3247: 36,
  671: 36,
  2581: 36,
  44195: 36,
  4638: 36,
  2948: 36,
  902: 36,
  193: 35,
  805: 35,
  1084: 35,
  3409: 35,
  31696: 35,
  256: 35,
  2427: 35,
  63113: 35,
  3809: 35,
  38061: 35,
  1029: 35,
  914: 35,
  7445: 35,
  719: 35,
  30812: 35,
  628: 35,
  60040: 35,
  66097: 35,
  1249: 35,
  170: 35,
  3361: 35,
  36529: 35,
  5254: 34,
  39183: 34,
  2140: 34,
  4344: 34,
  1287: 34,
  45720: 34,
  85414: 34,
  327: 34,
  60: 34,
  69481: 34,
  44555: 34,
  64969: 34,
  1261: 34,
  1947: 34,
  3882: 34,
  524: 34,
  54259: 34,
  6287: 34,
  4734: 34,
  362: 34,
  1172: 34,
  4641: 34,
  969: 34,
  8807: 34,
  64839: 34,
  6708: 34,
  86332: 34,
  1663: 34,
  3698: 34,
  5673: 33,
  2145: 33,
  1882: 33,
  5388: 33,
  8957: 33,
  1047: 33,
  6534: 33,
  2300: 33,
  342: 33,
  265: 33,
  6754: 33,
  3988: 33,
  4015: 33,
  837: 33,
  3396: 33,
  3555: 33,
  610: 33,
  2393: 33,
  637: 33,
  61132: 33,
  53322: 33,
  1918: 33,
  1244: 33,
  4874: 33,
  2949: 33,
  3681: 33,
  1272: 33,
  30825: 33,
  102125: 32,
  96610: 32,
  72011: 32,
  152081: 32,
  2160: 32,
  1911: 32,
  1912: 32,
  3285: 32,
  4361: 32,
  6157: 32,
  6281: 32,
  88140: 32,
  88129: 32,
  2944: 32,
  68237: 32,
  1644: 32,
  5064: 32,
  303: 32,
  53972: 32,
  104841: 32,
  8970: 32,
  3257: 32,
  6541: 32,
  8917: 32,
  45: 32,
  97938: 31,
  61024: 31,
  34319: 31,
  2064: 31,
  1405: 31,
  65: 31,
  2953: 31,
  135: 31,
  1747: 31,
  110102: 31,
  272: 31,
  1566: 31,
  3006: 31,
  88163: 31,
  5630: 31,
  108932: 31,
  1587: 31,
  4446: 31,
  4701: 31,
  724: 31,
  1717: 31,
  4321: 31,
  72641: 31,
  46723: 31,
  139385: 31,
  4890: 31,
  3386: 31,
  3256: 31,
  1805: 31,
  38038: 30,
  838: 30,
  95167: 30,
  111362: 30,
  2501: 30,
  2871: 30,
  2058: 30,
  348: 30,
  1479: 30,
  84152: 30,
  95510: 30,
  1267: 30,
  2423: 30,
  5219: 30,
  2403: 30,
  1271: 30,
  56757: 30,
  1373: 30,
  7022: 30,
  204: 30,
  915: 30,
  97921: 30,
  106696: 29,
  1339: 29,
  60074: 29,
  115149: 29,
  246: 29,
  1513: 29,
  3825: 29,
  1269: 29,
  1831: 29,
  898: 29,
  3745: 29,
  5444: 29,
  743: 29,
  2421: 29,
  2485: 29,
  2411: 29,
  2384: 29,
  3168: 29,
  3273: 29,
  1061: 29,
  647: 29,
  3450: 29,
  94959: 29,
  6155: 29,
  2722: 29,
  3740: 28,
  2335: 28,
  1299: 28,
  1027: 28,
  56782: 28,
  968: 28,
  82459: 28,
  52: 28,
  1223: 28,
  24: 28,
  3186: 28,
  2243: 28,
  4019: 28,
  1077: 28,
  74789: 28,
  2788: 28,
  2150: 28,
  46970: 28,
  4232: 28,
  115713: 28,
  5620: 28,
  60756: 28,
  273: 28,
  198: 28,
  97304: 28,
  45186: 28,
  3269: 27,
  37733: 27,
  741: 27,
  94864: 27,
  1293: 27,
  4343: 27,
  1347: 27,
  80549: 27,
  88744: 27,
  122900: 27,
  720: 27,
  3252: 27,
  1179: 27,
  57368: 27,
  1021: 27,
  166528: 27,
  1257: 27,
  4700: 27,
  6787: 27,
  3072: 27,
  3254: 27,
  102445: 27,
  2431: 27,
  3968: 27,
  880: 27,
  6503: 27,
  2109: 27,
  5872: 27,
  1120: 27,
  122892: 27,
  40629: 27,
  1499: 27,
  1982: 27,
  922: 27,
  3424: 27,
  4002: 27,
  4901: 27,
  2232: 27,
  52281: 27,
  5013: 27,
  909: 27,
  8873: 27,
  122918: 27,
  1614: 26,
  6957: 26,
  1591: 26,
  2409: 26,
  5945: 26,
  2795: 26,
  148626: 26,
  106487: 26,
  4388: 26,
  3148: 26,
  89492: 26,
  53519: 26,
  2478: 26,
  93510: 26,
  5574: 26,
  3869: 26,
  68319: 26,
  112183: 26,
  3638: 26,
  2082: 26,
  3556: 26,
  1960: 26,
  3969: 26,
  1476: 26,
  ...},
 'new_id': {356: 0,
  318: 1,
  296: 2,
  593: 3,
  2571: 4,
  260: 5,
  480: 6,
  110: 7,
  589: 8,
  527: 9,
  2959: 10,
  1: 11,
  1196: 12,
  50: 13,
  2858: 14,
  47: 15,
  780: 16,
  150: 17,
  1198: 18,
  4993: 19,
  1210: 20,
  858: 21,
  457: 22,
  592: 23,
  5952: 24,
  2028: 25,
  7153: 26,
  588: 27,
  608: 28,
  2762: 29,
  380: 30,
  32: 31,
  364: 32,
  1270: 33,
  377: 34,
  3578: 35,
  4306: 36,
  1580: 37,
  590: 38,
  648: 39,
  344: 40,
  4226: 41,
  367: 42,
  58559: 43,
  6539: 44,
  1214: 45,
  595: 46,
  1036: 47,
  165: 48,
  500: 49,
  1265: 50,
  79132: 51,
  1197: 52,
  6377: 53,
  1704: 54,
  316: 55,
  2628: 56,
  1291: 57,
  1721: 58,
  153: 59,
  1136: 60,
  597: 61,
  293: 62,
  1193: 63,
  3793: 64,
  231: 65,
  4886: 66,
  10: 67,
  1089: 68,
  7361: 69,
  6874: 70,
  1240: 71,
  1221: 72,
  2329: 73,
  34: 74,
  1200: 75,
  1213: 76,
  1682: 77,
  8961: 78,
  541: 79,
  4995: 80,
  736: 81,
  5349: 82,
  1097: 83,
  2683: 84,
  733: 85,
  2716: 86,
  1206: 87,
  4973: 88,
  5445: 89,
  1073: 90,
  4963: 91,
  586: 92,
  33794: 93,
  1527: 94,
  208: 95,
  587: 96,
  5989: 97,
  1968: 98,
  185: 99,
  5418: 100,
  3147: 101,
  3996: 102,
  349: 103,
  2: 104,
  7438: 105,
  2918: 106,
  1258: 107,
  924: 108,
  4878: 109,
  253: 110,
  2115: 111,
  329: 112,
  1208: 113,
  4896: 114,
  48516: 115,
  539: 116,
  1732: 117,
  1923: 118,
  68954: 119,
  223: 120,
  60069: 121,
  39: 122,
  111: 123,
  2706: 124,
  357: 125,
  161: 126,
  6: 127,
  778: 128,
  5816: 129,
  1222: 130,
  292: 131,
  434: 132,
  454: 133,
  1517: 134,
  44191: 135,
  912: 136,
  4022: 137,
  104: 138,
  2997: 139,
  339: 140,
  72998: 141,
  3114: 142,
  750: 143,
  2987: 144,
  1617: 145,
  3949: 146,
  1784: 147,
  6365: 148,
  1961: 149,
  59315: 150,
  4027: 151,
  2502: 152,
  4011: 153,
  8368: 154,
  551: 155,
  919: 156,
  288: 157,
  2396: 158,
  5378: 159,
  8360: 160,
  2355: 161,
  1917: 162,
  1259: 163,
  1387: 164,
  3948: 165,
  1356: 166,
  2797: 167,
  2174: 168,
  48780: 169,
  1610: 170,
  21: 171,
  1080: 172,
  2012: 173,
  2916: 174,
  19: 175,
  68157: 176,
  2324: 177,
  2791: 178,
  2011: 179,
  5618: 180,
  2617: 181,
  1391: 182,
  1653: 183,
  1246: 184,
  141: 185,
  1393: 186,
  1307: 187,
  5218: 188,
  32587: 189,
  904: 190,
  1220: 191,
  410: 192,
  95: 193,
  1219: 194,
  3897: 195,
  1101: 196,
  788: 197,
  16: 198,
  1584: 199,
  300: 200,
  49272: 201,
  54286: 202,
  317: 203,
  48394: 204,
  442: 205,
  51662: 206,
  1676: 207,
  2291: 208,
  62: 209,
  3052: 210,
  6934: 211,
  1247: 212,
  8636: 213,
  3751: 214,
  33493: 215,
  594: 216,
  46578: 217,
  337: 218,
  1625: 219,
  1573: 220,
  8874: 221,
  3623: 222,
  25: 223,
  1225: 224,
  6333: 225,
  440: 226,
  2700: 227,
  91529: 228,
  69122: 229,
  3481: 230,
  8665: 231,
  2000: 232,
  6016: 233,
  3175: 234,
  2692: 235,
  6711: 236,
  35836: 237,
  368: 238,
  1485: 239,
  3994: 240,
  109487: 241,
  45722: 242,
  3977: 243,
  50872: 244,
  1201: 245,
  1028: 246,
  6373: 247,
  1079: 248,
  99114: 249,
  63082: 250,
  40815: 251,
  4034: 252,
  1407: 253,
  474: 254,
  2985: 255,
  3408: 256,
  235: 257,
  11: 258,
  7147: 259,
  89745: 260,
  1278: 261,
  520: 262,
  923: 263,
  1370: 264,
  4979: 265,
  266: 266,
  48: 267,
  1380: 268,
  3753: 269,
  2054: 270,
  4262: 271,
  2353: 272,
  1544: 273,
  36: 274,
  2081: 275,
  74458: 276,
  2542: 277,
  17: 278,
  6863: 279,
  1288: 280,
  163: 281,
  508: 282,
  553: 283,
  4246: 284,
  2194: 285,
  48385: 286,
  56367: 287,
  555: 288,
  5481: 289,
  70286: 290,
  653: 291,
  48774: 292,
  1035: 293,
  4447: 294,
  353: 295,
  55820: 296,
  4025: 297,
  2710: 298,
  1234: 299,
  786: 300,
  1954: 301,
  1090: 302,
  5502: 303,
  2657: 304,
  435: 305,
  56174: 306,
  1127: 307,
  158: 308,
  1304: 309,
  7143: 310,
  3671: 311,
  3421: 312,
  173: 313,
  41566: 314,
  3081: 315,
  1374: 316,
  8644: 317,
  3717: 318,
  552: 319,
  509: 320,
  30793: 321,
  3527: 322,
  2640: 323,
  5459: 324,
  2321: 325,
  51255: 326,
  3253: 327,
  466: 328,
  596: 329,
  1377: 330,
  2006: 331,
  5299: 332,
  903: 333,
  3471: 334,
  2302: 335,
  3033: 336,
  1552: 337,
  420: 338,
  1199: 339,
  1500: 340,
  6378: 341,
  6942: 342,
  112852: 343,
  33679: 344,
  1252: 345,
  68358: 346,
  3535: 347,
  2167: 348,
  953: 349,
  34162: 350,
  1207: 351,
  1230: 352,
  69844: 353,
  708: 354,
  81845: 355,
  5669: 356,
  6502: 357,
  370: 358,
  1608: 359,
  1394: 360,
  73017: 361,
  54001: 362,
  80463: 363,
  1276: 364,
  2268: 365,
  2470: 366,
  2005: 367,
  160: 368,
  908: 369,
  8641: 370,
  1203: 371,
  350: 372,
  53125: 373,
  1302: 374,
  2671: 375,
  1641: 376,
  1777: 377,
  4370: 378,
  2599: 379,
  2529: 380,
  1148: 381,
  2395: 382,
  2804: 383,
  78499: 384,
  4720: 385,
  2080: 386,
  4308: 387,
  5956: 388,
  432: 389,
  70: 390,
  54503: 391,
  4816: 392,
  168: 393,
  7: 394,
  784: 395,
  106782: 396,
  91500: 397,
  122904: 398,
  4018: 399,
  59784: 400,
  2406: 401,
  2572: 402,
  71535: 403,
  2701: 404,
  76093: 405,
  2712: 406,
  172: 407,
  1997: 408,
  673: 409,
  2947: 410,
  49530: 411,
  2078: 412,
  1282: 413,
  485: 414,
  2699: 415,
  3489: 416,
  3911: 417,
  45499: 418,
  225: 419,
  3: 420,
  3552: 421,
  3160: 422,
  52973: 423,
  1466: 424,
  1639: 425,
  30707: 426,
  109374: 427,
  6870: 428,
  1645: 429,
  4239: 430,
  145: 431,
  2100: 432,
  4776: 433,
  4848: 434,
  1215: 435,
  910: 436,
  5010: 437,
  116797: 438,
  3785: 439,
  33166: 440,
  333: 441,
  34048: 442,
  8361: 443,
  96079: 444,
  2424: 445,
  88125: 446,
  34405: 447,
  2105: 448,
  8464: 449,
  45447: 450,
  2144: 451,
  5: 452,
  5464: 453,
  661: 454,
  4643: 455,
  216: 456,
  5991: 457,
  3176: 458,
  2641: 459,
  2019: 460,
  186: 461,
  30749: 462,
  3000: 463,
  8784: 464,
  745: 465,
  1748: 466,
  7458: 467,
  2694: 468,
  1275: 469,
  134130: 470,
  1729: 471,
  2763: 472,
  1358: 473,
  1320: 474,
  2539: 475,
  122882: 476,
  7293: 477,
  1092: 478,
  77561: 479,
  8529: 480,
  1367: 481,
  899: 482,
  783: 483,
  4014: 484,
  1921: 485,
  81834: 486,
  2717: 487,
  2001: 488,
  1994: 489,
  5679: 490,
  2076: 491,
  4085: 492,
  5902: 493,
  64614: 494,
  2002: 495,
  54272: 496,
  1884: 497,
  5060: 498,
  112: 499,
  802: 500,
  3752: 501,
  47099: 502,
  1396: 503,
  44: 504,
  5995: 505,
  7254: 506,
  196: 507,
  4369: 508,
  2890: 509,
  4270: 510,
  3863: 511,
  920: 512,
  1183: 513,
  1722: 514,
  1690: 515,
  1907: 516,
  616: 517,
  2288: 518,
  2294: 519,
  31685: 520,
  3255: 521,
  4571: 522,
  1371: 523,
  4718: 524,
  2023: 525,
  2490: 526,
  236: 527,
  1266: 528,
  1204: 529,
  1250: 530,
  6537: 531,
  5377: 532,
  79702: 533,
  52722: 534,
  1333: 535,
  33004: 536,
  913: 537,
  849: 538,
  3755: 539,
  4975: 540,
  37729: 541,
  5903: 542,
  46976: 543,
  151: 544,
  2085: 545,
  111759: 546,
  8798: 547,
  3499: 548,
  3624: 549,
  1876: 550,
  3275: 551,
  1597: 552,
  2455: 553,
  60684: 554,
  1376: 555,
  76251: 556,
  2407: 557,
  47610: 558,
  2605: 559,
  2278: 560,
  3363: 561,
  497: 562,
  252: 563,
  2161: 564,
  87232: 565,
  852: 566,
  1263: 567,
  4310: 568,
  1262: 569,
  134853: 570,
  8984: 571,
  3448: 572,
  1094: 573,
  1375: 574,
  91658: 575,
  2724: 576,
  69757: 577,
  3868: 578,
  431: 579,
  1967: 580,
  1372: 581,
  441: 582,
  81591: 583,
  1088: 584,
  1022: 585,
  2273: 586,
  1562: 587,
  3210: 588,
  355: 589,
  261: 590,
  785: 591,
  2915: 592,
  3301: 593,
  1042: 594,
  1909: 595,
  59369: 596,
  2968: 597,
  5810: 598,
  762: 599,
  2003: 600,
  57669: 601,
  4299: 602,
  3617: 603,
  115617: 604,
  7373: 605,
  2087: 606,
  1285: 607,
  3916: 608,
  3418: 609,
  494: 610,
  122886: 611,
  1242: 612,
  45517: 613,
  55247: 614,
  543: 615,
  224: 616,
  1228: 617,

In [21]:
item_id_dict = frame_dict['new_id']
item_frame = item_frame.set_index('new_id')
item_frame

        user_cnt
new_id
0            329
1            317
2            307
3            279
4            278
...          ...
9719           1
9720           1
9721           1
9722           1
9723           1

[9724 rows x 1 columns]

In [23]:
item_to_num_users = item_frame.to_dict()['user_cnt']
data['item'] = [item_id_dict[x] for x in data.item.tolist()]
data

        user  item  ratings    timestamps  org_ratings
0        112    11      1.0  9.649827e+08          4.0
1        112   420      1.0  9.649812e+08          4.0
2        112   127      1.0  9.649822e+08          4.0
3        112    15      1.0  9.649838e+08          5.0
4        112    13      1.0  9.649829e+08          5.0
...      ...   ...      ...           ...          ...
100831     5  3155      1.0  1.493848e+09          4.0
100832     5  2920      1.0  1.493850e+09          5.0
100833     5  1623      1.0  1.494273e+09          5.0
100834     5  1028      1.0  1.493846e+09          5.0
100835     5  4186      1.0  1.493846e+09          3.0

[100836 rows x 5 columns]

In [24]:
num_users, num_items = len(user_id_dict), len(item_id_dict)
print(num_users, num_items)

610 9724

In [25]:
num_ratings = len(data)
num_ratings

100836

--------

In [40]:
# split data into train/test

data_group = data.groupby('user')
data_group

In [54]:

train_list, test_list = [],[]
num_zero_train, num_zero_test = 0,0

for _,group in data_group:
    user = pd.unique(group['user'])[0]
    num_items_user = len(group)
    num_train = int(0.8 * num_items_user) # train_ratio = 0.8
    num_test = num_items_user - num_train
    
    group = group.sort_values(by='timestamps')
    idx = np.ones(num_items_user, dtype='bool')
    test_idx = np.random.choice(num_items_user, num_test, replace=False)
    idx[test_idx] = False
    
    if len(group[idx])==0:
        num_zero_train +=1
        
    else:
        train_list.append(group[idx])
        
    if len(group[np.logical_not(idx)])==0:
        num_zero_test +=1
    else:
        test_list.append(group[np.logical_not(idx)])

        
train_df = pd.concat(train_list)
test_df = pd.concat(test_list)

print(num_zero_train, num_zero_test)

0 0

In [55]:
train_df

       user  item  ratings    timestamps  org_ratings
63362     0   327      1.0  9.614362e+08          3.0
62618     0  1604      1.0  9.614362e+08          1.0
62832     0   999      1.0  9.614362e+08          4.0
63270     0  3509      1.0  9.614362e+08          4.0
62731     0    20      1.0  9.614362e+08          5.0
...     ...   ...      ...           ...          ...
7918    609  1000      1.0  1.237748e+09          5.0
7915    609  1322      1.0  1.237748e+09          5.0
7912    609  1351      1.0  1.237748e+09          5.0
7920    609  1234      1.0  1.237748e+09          5.0
7913    609  2042      1.0  1.237748e+09          5.0

[80419 rows x 5 columns]

In [56]:
test_df

       user  item  ratings    timestamps  org_ratings
63049     0  3486      1.0  9.614365e+08          2.0
63174     0   402      1.0  9.614365e+08          4.0
63290     0   139      1.0  9.614365e+08          5.0
63206     0  1162      1.0  9.614365e+08          3.0
63211     0   906      1.0  9.614367e+08          2.0
...     ...   ...      ...           ...          ...
89049   608   669      1.0  1.358152e+09          5.0
7916    609  1161      1.0  1.237748e+09          5.0
7919    609   966      1.0  1.237748e+09          5.0
7929    609  1146      1.0  1.237748e+09          5.0
7923    609  1122      1.0  1.237748e+09          5.0

[20417 rows x 5 columns]

In [63]:
def df_to_sparse(df, shape):
    rows, cols = df.user, df.item
    values = df.ratings
    org_values = df.org_ratings
    
    sp_data = sp.csr_matrix((values, (rows,cols)), dtype='float64', shape=shape)
    sp_data2 = sp.csr_matrix((org_values, (rows,cols)), dtype='float64', shape=shape)
    
    num_nonzeros = np.diff(sp_data.indptr)
    row_to_drop = num_nonzeros == 0
    
    if sum(row_to_drop)> 0 :
        print(f"empty users are dropped from matrix : {sum(rows_to_drop)}")
        sp_data = sp_data[num_nonzeros != 0]
        
    return sp_data, sp_data2

In [64]:
train_sparse, org_train_sparse = df_to_sparse(train_df, shape=(num_users, num_items))
test_sparse, org_test_sparse = df_to_sparse(test_df, shape=(num_users, num_items))

In [66]:
display(train_sparse)
display(org_train_sparse)

display(test_sparse)
display(org_test_sparse)

<610x9724 sparse matrix of type '<class 'numpy.float64'>'
	with 80419 stored elements in Compressed Sparse Row format>

<610x9724 sparse matrix of type '<class 'numpy.float64'>'
	with 80419 stored elements in Compressed Sparse Row format>

<610x9724 sparse matrix of type '<class 'numpy.float64'>'
	with 20417 stored elements in Compressed Sparse Row format>

<610x9724 sparse matrix of type '<class 'numpy.float64'>'
	with 20417 stored elements in Compressed Sparse Row format>

In [68]:
    # Save data and statistics
data_to_save = {
    'train_mat': train_sparse,
    'test_mat': test_sparse,
    'org_train_mat': org_train_sparse,
    'org_test_mat': org_test_sparse,
    'user_id_dict': user_id_dict,
    'user_popularity': user_to_num_items,
    'item_id_dict': item_id_dict,
    'item_popularity': item_to_num_users,
    'num_users': num_users,
    'num_items': num_items
}

In [70]:
os.listdir('./')

['.ipynb_checkpoints',
 'data',
 'matrix',
 'Neural Graph Collaborative Filtering.ipynb']

In [78]:
for k,v in data_to_save.items():
    pickle.dump(v, open(f'./matrix/{k}.pkl', 'wb'))

In [82]:
ratings_per_user = list(user_to_num_items.values())
ratings_per_user

[2698,
 2478,
 2108,
 1864,
 1346,
 1302,
 1260,
 1218,
 1115,
 1055,
 1046,
 1027,
 977,
 975,
 943,
 939,
 904,
 879,
 862,
 836,
 831,
 763,
 728,
 728,
 722,
 703,
 677,
 648,
 646,
 635,
 613,
 608,
 600,
 578,
 575,
 570,
 528,
 520,
 518,
 517,
 507,
 505,
 502,
 500,
 476,
 474,
 469,
 467,
 465,
 458,
 455,
 446,
 443,
 443,
 440,
 437,
 437,
 436,
 411,
 403,
 403,
 400,
 399,
 398,
 397,
 386,
 385,
 383,
 377,
 371,
 366,
 363,
 360,
 359,
 347,
 345,
 340,
 334,
 331,
 314,
 311,
 310,
 306,
 300,
 299,
 294,
 293,
 292,
 291,
 289,
 279,
 279,
 277,
 275,
 273,
 271,
 270,
 269,
 267,
 267,
 265,
 260,
 258,
 255,
 250,
 248,
 247,
 242,
 237,
 236,
 233,
 232,
 232,
 231,
 230,
 227,
 226,
 226,
 223,
 221,
 217,
 216,
 216,
 215,
 213,
 210,
 210,
 208,
 207,
 204,
 202,
 202,
 201,
 200,
 196,
 194,
 191,
 190,
 189,
 188,
 187,
 187,
 186,
 185,
 181,
 180,
 179,
 177,
 176,
 174,
 173,
 168,
 168,
 168,
 167,
 167,
 167,
 165,
 165,
 164,
 164,
 163,
 161,
 157,
 156,
 155,
 155,
 155,
 154,
 152,
 152,
 152,
 152,
 150,
 150,
 150,
 148,
 141,
 141,
 141,
 141,
 140,
 140,
 140,
 140,
 139,
 138,
 138,
 138,
 135,
 135,
 135,
 134,
 133,
 131,
 131,
 130,
 129,
 129,
 128,
 128,
 128,
 128,
 127,
 127,
 127,
 126,
 123,
 123,
 122,
 121,
 121,
 120,
 119,
 119,
 118,
 118,
 115,
 115,
 114,
 114,
 113,
 113,
 113,
 112,
 112,
 112,
 112,
 111,
 111,
 110,
 110,
 109,
 108,
 107,
 107,
 106,
 106,
 105,
 103,
 103,
 103,
 102,
 102,
 101,
 100,
 100,
 100,
 98,
 98,
 98,
 97,
 97,
 97,
 95,
 94,
 94,
 94,
 94,
 93,
 93,
 93,
 93,
 92,
 90,
 89,
 89,
 88,
 88,
 87,
 87,
 87,
 86,
 86,
 85,
 84,
 84,
 84,
 83,
 83,
 83,
 82,
 82,
 81,
 81,
 80,
 78,
 78,
 78,
 77,
 77,
 77,
 76,
 76,
 76,
 75,
 75,
 75,
 74,
 74,
 73,
 73,
 72,
 72,
 71,
 70,
 70,
 69,
 69,
 69,
 69,
 69,
 68,
 67,
 67,
 66,
 66,
 65,
 65,
 65,
 65,
 64,
 64,
 64,
 64,
 64,
 63,
 62,
 62,
 61,
 61,
 61,
 61,
 61,
 60,
 60,
 59,
 59,
 59,
 58,
 58,
 58,
 58,
 58,
 57,
 57,
 57,
 57,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 55,
 55,
 54,
 54,
 54,
 53,
 53,
 53,
 53,
 52,
 52,
 51,
 51,
 51,
 51,
 51,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 47,
 47,
 47,
 47,
 46,
 46,
 46,
 46,
 46,
 45,
 45,
 45,
 45,
 45,
 45,
 44,
 44,
 44,
 43,
 43,
 43,
 42,
 42,
 42,
 42,
 42,
 41,
 41,
 41,
 41,
 40,
 40,
 40,
 40,
 40,
 40,
 39,
 39,
 39,
 39,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 37,
 37,
 37,
 37,
 37,
 37,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 30,
 30,
 30,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20]

In [85]:
info_lines = []
info_lines.append('# users: %d, # items: %d, # ratings: %d' % (num_users, num_items, num_ratings))
info_lines.append("Sparsity : %.2f%%" % ((1 - (num_ratings / (num_users * num_items))) * 100))
info_lines.append("Min/Max/Avg. ratings per users (full data): %d %d %.2f\n" % (
min(ratings_per_user), max(ratings_per_user), np.mean(ratings_per_user)))

info_lines.append('# train users: %d, # train ratings: %d' % (train_sparse.shape[0], train_sparse.nnz))
info_lines.append('# test users: %d, # test ratings: %d' % (test_sparse.shape[0], test_sparse.nnz))

In [86]:
info_lines

['# users: 610, # items: 9724, # ratings: 100836',
 'Sparsity : 98.30%',
 'Min/Max/Avg. ratings per users (full data): 20 2698 165.30\n',
 '# train users: 610, # train ratings: 80419',
 '# test users: 610, # test ratings: 20417']

In [90]:
data_path = './matrix/'

In [91]:
def load_data(data_path):
    with open(data_path, 'rb') as f:
        data = pickle.load(f)

    train_matrix, test_matrix, org_train_matrix, org_test_matrix, user_id_map, user_popularity, item_id_map, item_popularity, num_users, num_items = \
        data['train_mat'], data['test_mat'], data['org_train_mat'], data['org_test_mat'], data['user_id_dict'], data['user_popularity'], \
        data['item_id_dict'], data['item_popularity'], data['num_users'], data['num_items']

    return train_matrix, test_matrix, org_train_matrix, org_test_matrix, user_id_map, user_popularity, item_id_map, item_popularity, num_users, num_items

In [94]:
os.listdir('./matrix/')

['item_id_dict.pkl',
 'item_popularity.pkl',
 'num_items.pkl',
 'num_users.pkl',
 'org_test_mat.pkl',
 'org_train_mat.pkl',
 'test_mat.pkl',
 'train_mat.pkl',
 'user_id_dict.pkl',
 'user_popularity.pkl']